<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Typhon Editor"
            extensions="tn"
            icon="icons/typhon_file.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="info.iconmaster.tnclipse.editor.TyphonEditor"
            id="info.iconmaster.tnclipse.typhon">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="info.iconmaster.tnclipse.preferences.TyphonPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="info.iconmaster.tnclipse/info.iconmaster.tnclipse.editor"
            class="info.iconmaster.tnclipse.preferences.PreferencePageEditorColors"
            id="info.iconmaster.tnclipse.editor.colors"
            name="Colors">
      </page>
      <page
            class="org.eclipse.ui.internal.dialogs.EmptyPreferencePage"
            id="info.iconmaster.tnclipse"
            name="Typhon">
      </page>
      <page
            category="info.iconmaster.tnclipse"
            class="org.eclipse.ui.internal.dialogs.EmptyPreferencePage"
            id="info.iconmaster.tnclipse.editor"
            name="Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="info.iconmaster.tnclipse"
            name="Typhon">
      </category>
      <wizard
            category="info.iconmaster.tnclipse"
            class="info.iconmaster.tnclipse.wizards.files.TyphonFileWizard"
            icon="icons/typhon_file.gif"
            id="info.iconmaster.tnclipse.wizards.files.typhon"
            name="Typhon file"
            project="false">
         <description>
            Create a new Typhon file
         </description>
      </wizard>
      <wizard
            category="info.iconmaster.tnclipse"
            class="info.iconmaster.tnclipse.wizards.projects.TyphonProjectWizard"
            icon="icons/new_typhon_project.gif"
            id="info.iconmaster.tnclipse.wizards.projects.typhon"
            name="Typhon project"
            project="true">
         <description>
            Create a new Typhon project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="tn"
            id="info.iconmaster.tnclipse.typhon"
            name="Typhon source file"
            priority="high">
      </content-type>
      <file-association
            content-type="info.iconmaster.tnclipse.typhon"
            file-extensions="tn">
      </file-association>
   </extension>
   <extension
         id="info.iconmaster.tnclipse.typhon"
         name="Typhon Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="info.iconmaster.tnclipse.nature.TyphonNature">
         </run>
      </runtime>
      <content-type
            id="info.iconmaster.tnclipse.typhon">
      </content-type>
      <builder
            id="info.iconmaster.tnclipse.typhon">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Options for the Typhon plugin."
            id="info.iconmaster.tnclipse.typhon"
            name="Typhon">
      </category>
      <command
            categoryId="info.iconmaster.tnclipse.typhon"
            defaultHandler="info.iconmaster.tnclipse.nature.TyphonNatureMenu"
            description="Add or remove a Typhon project nature."
            id="info.iconmaster.tnclipse.typhonNature"
            name="Add/Remove Typhon Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="info.iconmaster.tnclipse.typhonNature"
               icon="icons/typhon_logo.gif"
               label="Add/Remove Typhon Nature"
               style="push"
               tooltip="Add or remove a Typhon project nature.">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="info.iconmaster.tnclipse.typhon"
         name="Typhon Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="info.iconmaster.tnclipse.nature.TyphonBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/typhon_decorator.gif"
            id="info.iconmaster.tnclipse.typhonNature"
            label="Typhon Project"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectState
                  name="nature"
                  value="info.iconmaster.tnclipse.typhon">
            </objectState>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="info.iconmaster.tnclipse.launch.TnBoxLauncher"
            delegateDescription="Launches the provided Typhon program in TnBox."
            delegateName="TnBox"
            id="info.iconmaster.tnclipse.tnbox"
            modes="run"
            name="TnBox">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="info.iconmaster.tnclipse.tnbox"
            icon="icons/typhon_logo.gif"
            id="info.iconmaster.tnclipse.tnbox">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="info.iconmaster.tnclipse.launch.TnBoxLauncherTabs"
            description="Launches the provided Typhon program in TnBox."
            id="info.iconmaster.tnclipse.tnbox.tab"
            type="info.iconmaster.tnclipse.tnbox">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="info.iconmaster.tnclipse.launch.TnBoxLauncher"
            icon="icons/typhon_logo.gif"
            id="info.iconmaster.tnclipse.tnbox"
            label="TnBox"
            modes="run">
         <configurationType
               id="info.iconmaster.tnclipse.tnbox">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="info.iconmaster.tnclipse.typhon">
                           </test>
                        </adapt>
                     </and> </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.eclipse.core.runtime.IAdaptable">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="info.iconmaster.tnclipse.launch.TnBoxProcessFactory"
            id="info.iconmaster.tnclipse.tnbox">
      </processFactory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="info.iconmaster.tnclipse.editor.TyphonPerspectiveFactory"
            icon="icons/typhon_logo.gif"
            id="info.iconmaster.tnclipse.typhon.perspective"
            name="Typhon">
      </perspective>
   </extension>

</plugin>
